$cmap-panel-border-radius: 0px;

//== Panels
$panel-border-radius: $cmap-panel-border-radius !default;

//colors
$color_alto_approx: #ddd;
$white: #fff;
$color_willow_brook_approx: #dff0d8;
$color_killarney_approx: #3c763d;